* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #1B65AE;
    --cor-secundaria: #FDE583;
    --cor-background: #f2f2f2;
    --cor-texto: #32383E;
    --fonte-texto:"DM Sans", sans-serif;

}
.titulo {
   
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    color: var(--cor-texto);
  
}

.titulo h1 {
    margin: 0; /* Remova as margens padrão do h1 */
}


  
.titulo p{

    margin-top: 40px;
    margin-bottom: -30px;


}


.excluir-alimento{
    
    flex-direction: column;
    display: flex;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
   
    align-items: center;
    
}

.excluir-alimento a {
    text-decoration: none;
    margin: 10px;
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: var(--cor-texto);
    width: 50%;
    transition: background-color 0.3s, color 0.3s; /* Adiciona transição suave */
}

.excluir-alimento a:hover {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}
