@charset "UTF-8";
* {
	text-decoration: none;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin-left: 17em;
	width: 92em;
	
}

.titulo {
	font-size: 1.7em !important;
	margin-top: 2.5em;
}

.titulo-card {
	display: flex;
	color: var(--cor-secundaria);
	font-weight: bold;
	justify-content: center;
	font-size: 1.5em;
}

.card-pedidos {
	display: flex;
	background-color: var(--cor-background-card) ;
	width: 16vw; 
    height: 23vh; 
    box-sizing: border-box; 
    transition: transform 0.5s ease;
    flex-flow: column wrap;
	margin-left: 1em;
    margin-top: 6em;
    margin-right: 2em;
    border-radius: 10px;
    margin-left: 6em;
    margin-bottom: 4em;
  	box-shadow: 0px 2px 0px #989898;
}

.descricao-card {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.texto-card {
	font-size: 1.2em;
}

.botao-pedido {
	font-weight: bold;
	display: inline-block;
    background-color: #1B65AE;
    text-decoration: none;
	padding-top: 1.2vh !important;
    color: var(--cor-background-tela);
    font-size: 1.0em;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease; /* Adicionando uma transição suave */
    height: 4vh;
    width: 9vw;
    justify-content: center;
    margin-left: 2.8em;
    margin-top: 1.7em;
}

.botao-pedido:hover {
	color: var(--cor-contraste) !important;
    transform: scale(1.05); 
    color:var(--cor-secundaria) ;
    
}

span {
	font-size: 1.4em;
	margin-bottom: 0.5em;
}

