@charset "UTF-8";
*{
	text-decoration: none;
	border: none;	
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin-left: 12em;
}


.card-pedidos {
	display: flex;
	background-color: var(--cor-background-card) ;
	width: 18vw; 
    height: 37vh; 
    box-sizing: border-box; 
    transition: transform 0.5s ease;
    flex-flow: column wrap;
	margin-left: 1em;
    margin-top: 6em;
    margin-right: 2em;
    border-radius: 10px;
    margin-left: 6em;
    margin-bottom: 4em;
  	box-shadow: 0px 2px 0px #989898;
}

.descricao-card {
	display: flex;
	padding: 1em;
	flex-direction: column;
}

#foto-descricao-pedido {
	width: 18vw;
	height: 20vh;
	border: none;
	border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.ajuste-titulo {
	margin-left: 2.5ex;
	margin-right: 70em;
	
}

.botao-pedido {
	font-weight: bold;
	display: inline-block;
    background-color: #1B65AE;
    text-decoration: none;
    color: var(--cor-background-tela);
    font-size: 1.0em;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease; /* Adicionando uma transição suave */
    height: 5vh;
    width: 10vw;
    justify-content: center;
    margin-left: 4em;
}

.botao-pedido:hover {
    transform: scale(1.05); /* Aumenta o tamanho em 10% */
    color:var(--cor-secundaria) ;
    color: var(--cor-contraste);
    
}
.titulo-card {
	display: flex;
	color: var(--cor-secundaria);
	font-weight: bold;
	justify-content: center;
	font-size: 1.4m;
}

.nome-card{
	font-size: 1.2em;
	font-weight: bold;
}
.texto-card {
	font-size: 1.2em;
}


