@charset "UTF-8";


*{
	text-decoration: none;
}

body {
	background-color: var(--cor-background-tela);
}

.botao-editar-perfil {
	color: var(--cor-texto) !important;
	text-decoration: none;
	
}

.icone-editar-perfil {
	width: 25px;
	float: left;
}


.linha {
  margin-top: 30px;
  margin-left: 38%;
  margin-right: 15%;
  width: 60%;
  border-bottom: 1px solid var(--cor-background-card);
  border-radius: 10px;
}

.botao {
	display: flex;
	color: var(--cor-background-tela);
	background-color: var(--cor-principal);
	transition: all 0.5s;
    font-weight: bold;
    height: 2.2em;
    margin-bottom: 2em;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
    border-radius: 7px;
    justify-content: center;
}

.botao:hover {
    border-radius: 8px;
    color: var(--cor-secundaria);
    transform: scale(1.05);
}

.botoes-doador {
    flex-direction: column;
    width: 20%;
    justify-content: left;
    height: 150px;
    margin-top: 40px;
}


.botoes-doador a {
    display: flex;
    align-items: center; 
    width: 100%;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    
}


#botao-descricao {
	margin-left: 3em;
	display: flex;
	height: 2em;
	width: 10em;
	padding: 0.5em;
}


.perfil-doador {
    width: 95em;
    margin: 0 auto;
    margin-top: 1em !important;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 100px;
    flex-direction: column; 
  
}

.perfil-doador img{
    border-radius: 50%;
}

.informacoes-doador {
    display: flex;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-left: 11em;


}

.imagem-doador {
 	width: 20vw;
 	height: 20vh;
}

#foto {
	border-radius: 50%;
	width: 14vw;
	height: 20vh;
}

.nome-doador {
    text-align: left;
    justify-content: center;

    font-size: 20px;

    flex: 80%;
   
    font-family: 'Inter', sans-serif;
}


.nome-doador p,
h1 {
    margin-top: 20px;
    margin-left: 4%;
}

.main-doador {
    display: flex;
    width: 70%;
    margin: 0 auto;
}
  

.titulo-card{
    text-decoration: none;
    color: var(--cor-principal);
 	font-weight: bold;
 	font-size: 1.2em;
  }

.ultimas-doacoes {
	display: flex;
   	flex-direction: column;
   	width: 50vw;
  }  

.titulo { 
	margin-top: 1em;
	display: flex;
    font-size: 1.4em;
    justify-content: center;
    
}

.posicao-cards {
	display: flex; 
	flex-wrap: wrap;
	margin-left: 4em;
}

.card-doacoes-doador {
	border-radius: 10px;
	background-color: var(--cor-background-card) ;
	width: 19em; 
    height: 14em; 
    padding: 20px; 
    box-sizing: border-box; 
    transition: transform 0.5s ease;
    margin: 2em;
    text-align: center;
    background-color: #F4F2F0;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4); /* Adds a shadow */
    
}

.linha {
	margin-top: 1em;
	width: 55em;
	margin-right: 20em;
}

