
@charset "UTF-8";@charset "UTF-8";

* {
	text-decoration: none;
}

h4  {
	text-align: center;
}

.descricao-proposta{
    grid-column: span 2;
    text-align: left;
    display: block;
    margin-bottom: 0;	
}




.propostas-doacao-analise1 {
   
}

#display2{
    display: flex;
    flex-wrap: wrap;
   
    width: 90%;
    margin: 0 auto;
    margin-top:30px;
}

.card-proposta2 {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
	float: left;
	margin-right: 40px;
	margin-bottom: 40px;
    padding: 10px;
    box-sizing: border-box;

    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao cartão */
}





.imagem-card1 img {
    width: 100%;
    max-width: 100px; /* Ajuste conforme necessário */
    height: auto;
    float: left;
 
    
}


.conteudo1 {
    margin-top: 50px;
    font-size: 20px;

    word-wrap: break-word; /* faz com que o texto quebre quando atingir o final da div */
    overflow-wrap: break-word;
    

}

.texto-card {
	font-size: 1em;
}

.botao-pedido {
	font-weight: bold;
	display: inline-block;
    background-color: #1B65AE;
    text-decoration: none;
	padding-top: 1.2vh !important;
    color: var(--cor-background-tela);
    font-size: 1.0em;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease; /* Adicionando uma transição suave */
    height: 4vh;
    width: 9vw;
    justify-content: center;
    margin-left: 3.4em;
    margin-top: 2em;
}

.botao-pedido:hover {
	color: var(--cor-contraste) !important;
    transform: scale(1.05); 
    color:var(--cor-secundaria) ;
    
}

.texto-card {
	font-size: 1.4em;
	margin-bottom: 0.5em;
}

#foto-descricao-pedido {
	width: 5vw;
	height: 5vh;
	border-radius: 100%;
}



#doacao-por{
    color: var(--cor-secundaria);
    font-size: 25px;
    margin-left: 30%   ;
    word-wrap: break-word; /* faz com que o texto quebre quando atingir o final da div */
    overflow-wrap: break-word;


}

