
:root {
    --cor-principal: #FFFFFF;
    --cor-secundaria: #1B65AE;
   
    --cor-background: #f2f2f2;
    --cor-background-input: #F4F2F0;
    --cor-texto: #32383E;
    --fonte-texto:"DM Sans", sans-serif;
    --cor-background-tela: #FFFFFF;
    --cor-background-card:  #EDEDED ;
    --cor-contraste: #FBE68B;
}



.titulo1 {   
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    color: var(--cor-texto);
    
  
}


.titulo h1 {
    margin: 0; /* Remova as margens padrão do h1 */
}


.propostas-doacao-analise1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(30% - 20px), 1fr));
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.card-proposta1 {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.imagem-card1 img {
    width: 100%;
    max-width: 100px; /* Ajuste conforme necessário */
    height: auto;
    
}


.conteudo1 {
    margin-top: 10px;
    font-size: 20px;
}

.conteudo1 p {
    margin: 5px 0;
}

.conteudo1 a {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

.conteudo1 a:hover {
    text-decoration: underline;
}

.conteudo1 a {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Adicionando uma transição suave */
}

.conteudo1 a:hover {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
}
